node_modules/
.env
uploads/documentos/*
uploads/convenios/*
uploads/generados/*
plantillas/*.docx
!uploads/documentos/.gitkeep
!uploads/convenios/.gitkeep
!uploads/generados/.gitkeep
!plantillas/.gitkeep
